@using ISProject.Models
@model AuthenticationCLS

<div style="text-align:center">
    <div class="" >
        <div>
            @Html.TextBoxFor(p => p.email, new { placeholder = "Usuario", value = "", @class = "tb-dato", })
        </div>
        <div>
            @Html.ValidationMessage("email", new { @style = "color:red" })
        </div><br>
        <div>
            @Html.PasswordFor(p => p.password, new { placeholder = "Contraseña", value = "", @class = "tb-dato" })
        </div>
        <div>
            @Html.ValidationMessage("password", new { @style = "color:red" })
        </div><br>
        <div>
            <h4 class="text-danger">@Model.message</h4>
        </div><br>
    </div>
</div>
