<!--
    Este es layout que tendran por defecto todas las paginas, esto incluye los imports de los css,
    asi com la barra de navegación y el footer

    Hecho por: Alfredo Rivera López
    Ultima modificación por: Alfredo Rivera López 
-->

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav>  <!--Inicio de la barra de navegación-->
        <div id="container">
            <div class="row">
                <div class="col-md-2" style="text-align: center; padding: 10px"> <!--Contenedor de la imagen-->
                    <img src="~/assets/logo_uabc.gif" style="width:70px; height:100px;">
                </div>
                <div class="col-md-8" style="text-align: center"> <!--Contenedor de lo demas-->
                    <br> <p class="center p-blanco">UNIVERSIDAD AUT&Oacute;NOMA DE BAJA CALIFORNIA</p><br>
                    <p class="center p-blanco-min">Sistema de Administraci&oacute;n PAAD/IAD</p> <br>
                    <div>
                        <div class="dropdown">
                            <a href="@Url.Action("Index", "Home", Request.Url.Scheme)">
                               <input type="button" class="dropbtn" value="Inicio" />
                            </a>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">Mi informacion</button>
                            <div class="dropdown-content">
                                <a href="#"></a>
                                <a href="#"></a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">Formatos</button>
                            <div class="dropdown-content">
                                <a href="@Url.Action("Index", "PAAD", Request.Url.Scheme)">Llenar PAAD</a>

                                <a href="#">Llenar IAD</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">Notificaciones</button>
                            <div class="dropdown-content">
                                <a href="#"></a>
                                <a href="#"></a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">Cerrar Sesion</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content"> <!-- Aqui comienza el body-->
        @RenderBody() <!-- Esto invoca el codigo html de cada vista-->
        
    </div>
    <footer>Todos los derechos reservados &copy;</footer> <!-- Efectivamente, es el footer-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


