@model ISProject.Models.Docentes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Docentes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.numero_empleado }) |
    @Html.ActionLink("Back to List", "Index")
</p>
