@using ISProject.Models
@{
    ViewBag.Title = "ViewIAD_Docente";
    Layout = "~/Views/Docente/_LayoutDocente.cshtml";
    HeaderIADCLS header = (HeaderIADCLS)ViewBag.header;
    List<ActivityCLS> activities = (List<ActivityCLS>)ViewBag.activities;
    InfoIADCLS info = (InfoIADCLS)ViewBag.info;
    MessageCLS msg = (MessageCLS)ViewBag.msg;
}
@if (msg != null)
{
    <div style="background: rgba(255,0,0,0.6); padding: 8px 60px;text-align:center">
        <label style="font-size: 15px; font-family: Helvetica; text-align:center;font-weight:bold">Solicitud de Modificación del Formato IAD Rechazada</label>
        <a href="#" onclick="showMessage()" style="font-size: 15px; font-family: Helvetica; color: #035aa6;">Ver más</a>
    </div>
}
<br>
<div style="text-align:center">
    <h1 style="font-weight:bold;font-size:26px">Visualizar Formato: IAD</h1>
</div>
<br />
<div class="d-flex justify-content-between" style="width:100%;">
    <a class="btn btn-azul-claro" href="@Url.Action("ListRecordIADs", "Docente", Request.Url.Scheme)">Regresar</a>
    @Html.Partial("_StatusIAD", info)
</div>
<div>
    @Html.Partial("_HeaderIAD", header)
</div>
<div id="tblActivities">
    @Html.Partial("_ViewActivitiesTable", activities)
</div>
<div class="" style="width:100%;text-align:right;margin-top:30px">
    @if (info.active)
    {
        if (info.status_value == 2)
        {
            <button type="button" onclick="authCredentials(2)" class="btn btn-rojo">Cancelar Entrega</button>
        }
        else if (info.status_value == 3)
        {
            <button type="button" onclick="authCredentials(3)" class="btn btn-amarillo">Solicitar Modificacion</button>
        }
        else if (info.status_value == 4)
        {
            <button type="button" onclick="authCredentials(4)" class="btn btn-rojo">Cancelar Solicitud de Modificacion</button>
        }
    }
</div>
<div id="mdlAuthCredentials" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center" style="margin-bottom:10px">
                <label class="lbl-30" style="padding-top:20px">Solicitar Modificacion</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            @using (Ajax.BeginForm("ApplyActionIAD", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "authResponse"
            }, new { id = "frmApplyActionIAD" }))
            {
                if (info.status_value == 3)
                {
                    <div id="divRejectMessage" style="width :95%">
                        <div style="text-align:center">
                            @Html.TextArea("message_modif", new { placeholder = "Razones de la modificacion", rows = 6, value = "", @class = "tb-dato", style = "width:95%;margin-left:5%" })
                        </div>
                        <hr />
                        <div style="text-align:center">
                            <label class="lbl-30" style="">Verifique sus credenciales</label>
                        </div>
                    </div>
                }
                <div id="mdlAuthCredentialsContent">
                    @Html.Partial("_AuthenticateCredentials", new AuthenticationCLS())
                </div>
                @Html.Hidden("id_iad", info.id_iad)
                @Html.Hidden("action_iad")
                <div class="modal-footer">
                    <button type="button" class="btn btn-rojo btn-margin-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="sendIAD()" class="btn btn-verde-light">Aceptar</button>
                </div>
            }
        </div>
    </div>
</div>
<div id="mdlShowMessage" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center" style="margin-bottom:10px">
                <label class="lbl-30" style="padding-top:20px">Razones de Rechazo de la Solicitud de Modificacion</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div>
                <div id="divRejectMessage" style="width :95%">
                    <div style="text-align:center">
                        @Html.TextArea("reject_message", msg == null ? "" : msg.mensaje, new { placeholder = "Razones del rechazo", rows = 6, value = "", @readonly = true, @class = "tb-dato", style = "width:95%;margin-left:5%" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-rojo btn-margin-left" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function authCredentials(action) {
        $("#action_iad").val(action);
        $("#mdlAuthCredentials").modal("show");
    }
    function sendIAD() {
        $("#frmApplyActionIAD").submit();
    }
    function authResponse(response) {
        if (response.Status != 1) {
            $("#mdlAuthCredentialsContent").html(response.AjaxResponse);
        }
        else {
            window.location ="@Url.Action("ModifyIAD","Docente")";
        }
    }
    function showMessage() {
        $("#mdlShowMessage").modal("show");
    }
    function goBack() {
        window.history.back();
    }
</script>