@using ISProject.Models
@model ActivityCLS
@{ Layout = "~/Views/Shared/_Layout.cshtml";}

@{
    ViewBag.Title = "PAAD";
}

<div id="myModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header text-center" style="margin-bottom:10px">
                <label class="lbl-30" style="padding-top:20px">Añadir Actividad</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!-- Inicio del cuerpo del Modal-->
            @using (Html.BeginForm("PostActivity", "PAAD", FormMethod.Post))
            {
                <div class="renglon" style="padding-bottom:13px">
                    <div class="" style="width :95%">
                        <div class="renglon-3" >
                            <label class="mdllab">Actividad </label>
                            @Html.TextAreaFor(p => p.actividad, new { placeholder = "Escribe aquí tu actividad...", value = "", @rows = 6, @class="mdltxta"})
                        </div><br>
                        <div class="renglon-3">
                            <label class="mdllab">Producción </label>
                            @Html.TextAreaFor(p => p.produccion, new { @rows =1,@class="mdltxta"})
                        </div><br>
                        <div class="renglon-3">
                            <label class="mdllab text-right">Lugar </label>
                            @Html.TextAreaFor(p => p.lugar, new { @rows = 1, @class="mdltxta" })
                        </div><br>
                        <div class="renglon-3">
                            <label class="text-right" style="width:88px;padding-right:9px">%Avance</label>
                            @Html.DropDownListFor(p => p.porcentaje_inicial,
                            new SelectListItem[]{
                                new SelectListItem() {Text = "0%", Value="0"},
                                new SelectListItem() {Text = "25%", Value="25"},
                                new SelectListItem() {Text = "50%", Value="50"},
                                new SelectListItem() {Text = "75%", Value="75"},
                                new SelectListItem() {Text = "100%", Value="100"}
                             })
                        </div><br>
                        <div class="renglon-center">
                            <div class="mdlchkbox">
                                <label>CACEI</label>
                                @Html.CheckBoxFor(p => p.cacei)

                            </div><br>
                            <div class="mdlchkbox">
                                <label> Cuerpo Academico</label>
                                @Html.CheckBoxFor(p => p.cuerpo_academico)

                            </div><br>
                            <div class="mdlchkbox">
                                <label>ISO 9000</label>
                                @Html.CheckBoxFor(p => p.iso)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-rojo btn-margin-left" name="button" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-verde-light " name="button">Añadir</button>
                </div>
            }
        </div>
    </div>
</div>
<main style="margin-top:0;padding-top:0">
    <div class="container">
        <h1 class="right">PAAD-03</h1>
        <h1 class="right">PROPUESTA ACADÉMICA DE ACTIVIDADES Y DOCENCIA</h1>
        <h1 class="right">PROPUESTA ACADÉMICA DE ACTIVIDADES Y DOCENCIA SEMESTRE______</h1>
        <br><br>
        <table>
            <tr>
                <td> Nombre del academico:</td>
                <td colspan="3"> Christian Xavier Navarro Cota</td>
                <td> No. de Empleado</td>
                <td> 3568</td>
            </tr>

            <tr>
                <td> Categoría:</td>
                <td> Definitivo</td>
                <td> Horas de clase:</td>
                <td> 8 horas</td>
                <td> Horas de gestión:</td>
                <td> 5 horas</td>
            </tr>

            <tr>
                <td> Cargo:</td>
                <td> Responsable de Practicas Profesionales FIAD</td>
                <td>Horas de investigación:</td>
                <td style="width:80px;"> 4 horas</td>
                <td>Horas de tutorías o dirección de trabajos:</td>
                <td style="width:80px;"> 5 horas</td>
            </tr>
        </table> <br><br>
        <table>
            <tr>
                <td width="40%"> Actividad</td>
                <td width="10%"> Producción</td>
                <td width="5%"> Lugar</td>
                <td width="5%"> %Avance</td>
                <td width="5%"> CACEI</td>
                <td width="5%"> Cuerpo academico</td>
                <td width="5%"> ISO 9000</td>
                <td width="8%"> Opciones</td>
            </tr>
            <tr >
                <td style="padding-top:0;margin-top:0">
                    Es un hecho establecido hace demasiado tiempo que un lector se distraerá
                    con el contenido del texto de un sitio mientras que mira su diseño. El punto
                    de usar Lorem Ipsum es que tiene una  más o menos normal de las letras,
                    al contrario de usar textos como por ejemplo "Contenido aquí, contenido
                    aquí".
                </td>
                <td> Reporte técnico</td>
                <td> Cubículo</td>
                <td> 80%</td>
                <td> Si</td>
                <td> No</td>
                <td> Si</td>
                <td>
                    @Html.ActionLink(" ", "EditActivity", "PAAD", new { }, new { @class = "glyphicon glyphicon-pencil btn btn-verde-light"})
                    @Html.ActionLink(" ", "DeleteActivity", "PAAD", new { }, new { @class = "glyphicon glyphicon-trash btn btn-danger"})
                </td>
            </tr>
        </table>
        <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-verde-light btn-add-act" style="margin-top:10px;width:30%">Agregar Actividad</button>
    </div>
    <div class="" style="width:100%;text-align:right">
        <button type="button" class="btn btn-rojo" name="button">Eliminar</button>
        <button type="button" class="btn btn-verde-light " name="button">Guardar</button>
        <button type="button" class="btn btn-amarillo " name="button">Entregar PAAD</button>
    </div>
</main>

