@using ISProject.Models
@model ActivityCLS
@{ Layout = "~/Views/Shared/_Layout.cshtml";}

@{
    ViewBag.Title = "PAAD";
}

<div id="myModal" class="modal fade" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="lbl-30">Añadir Actividad</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!-- Inicio del cuerpo del Modal-->
            @using (Html.BeginForm("PostActivity", "PAAD", FormMethod.Post))
            {
                <div class="renglon ">
                    <div class="cuadro">
                        <div class="renglon-3">
                            <label class="">Actividad &nbsp; &nbsp;</label>
                            @Html.TextAreaFor(p => p.actividad, new { placeholder = "Escribe aquí tu actividad...", value = "", @rows = 6, @cols = 70 })
                        </div><br>
                        <div class="renglon-3">
                            <label>Producción &nbsp; &nbsp;</label>
                            @Html.TextAreaFor(p => p.produccion, new { @rows = 10, @cols = 70 })
                        </div><br>
                        <div class="renglon-3">
                            <label>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Lugar &nbsp;</label>
                            @Html.TextAreaFor(p => p.lugar, new { @rows = 1, @cols = 20 })
                        </div><br>
                        <div class="renglon-3">
                            <label>&nbsp; &nbsp; %Avance &nbsp;</label>
                            @Html.DropDownListFor(p => p.porcentaje_inicial,
                            new SelectListItem[]{
                                                    new SelectListItem() {Text = "25%", Value="25"},
                                                    new SelectListItem() {Text = "50%", Value="50"},
                                                    new SelectListItem() {Text = "75%", Value="75"},
                                                    new SelectListItem() {Text = "100%", Value="100"}
                             })
                        </div><br>
                        <div class="renglon-3">
                            <label>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; CACEI &nbsp;</label>
                            @Html.LabelFor(p => p.cacei, "Si ")
                            @Html.CheckBoxFor(p => p.cacei, new { @checked = "checked" })

                        </div><br>
                        <div class="renglon-3">
                            <label> Cuerpo Academico &nbsp;</label>
                            @Html.LabelFor(p => p.cuerpo_academico, "Si ")
                            @Html.CheckBoxFor(p => p.cuerpo_academico, new { @checked = "checked" })

                        </div><br>
                              <div class="renglon-3">
                                  <label>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ISO 9000 &nbsp;</label>
                                  @Html.LabelFor(p => p.iso, "Si ")
                                  @Html.CheckBoxFor(p => p.iso, new { @checked = "checked" })

                              </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-rojo btn-margin-left" name="button" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-verde-light " name="button">Añadir</button>
                </div>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-amarillo" style="margin-top: 80px">TEST</button>
    </div>
</div>

